body {
  color: #555;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header {
  background: #eee;
  height: 70px;
}

.title {
  line-height: 1;
  margin-top: 0;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#nav {
  padding-right: 0;
}

.nav-content li {
  border-bottom: 1px solid #eee;
}

.nav-link {
  color: #666;
  display: block;
  padding: 20px 32px;
  text-decoration: none;
}

.nav-link:hover {
  background: #fafafa;
  text-decoration: none;
}

#blog-name, #add-post {
  float: left;
}

#blog-name {
  line-height: 70px;
  margin: 0;
}

#add-post {
  display: block;
  float: none;
  margin: 22px auto;
}

#posts {
  border-left: 1px solid #eee;
  display: none;
  padding-top: 16px;
}

.post {
  margin-bottom: 36px;
  position: relative;
}

.post .metadata {
  font-style: italic;
}

.post .time {
  color: #aaa;
}

.post .author {
  font-style: inherit;
}

.action {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 12px;
  -webkit-transition: opacity 0.2s linear;
          transition: opacity 0.2s linear;
}

.post:hover .action {
  opacity: 0.5;
}

.post:hover .action:hover {
  opacity: 1;
}

.edit {
  right: 44px;
}

.delete {
  right: 0;
}

input, label, textarea {
  display: block;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
}

:-ms-input-placeholder {  
   font-style: italic;
}

#pagination {
  margin-bottom: 40px;
}

#pagination .btn {
  width: 80px;
}
